html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    color: black;
}

.form__labelText {
    max-width: 250px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    width: 100%;
}

.form__field--textarea {
    resize: vertical;
    min-height: 50px;
}

.form__field:invalid {
    background-color: hsl(347, 66%, 95%);
}

.form__fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.form__button {
    width: 100%;
    border: none;
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

.form__legend {
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 10px;
}